body {
    font-family: "Segoe UI", Arial, "Helvetica Neue", sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(assets/corinthia.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

.caixa {
    background-color: white;
    max-width: 900px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    align-items: center;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.nav-esquerda a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-esquerda a:hover {
    color: gray;
    font-size: large;
}

.nav-direita img {
    max-height: 50px;
    width: auto;
    padding-right: 40px;
    display: block;
}

.informacoes {
    display: flex;
    flex-direction: column;
}

.li{
    margin-left: 0px;
}

ul{
    list-style-position: inside;
    padding-left: 0px;;
}
